<h1>Survey: <%= @survey.name() %></h1>

<% if @survey.questions().any?() %>
  <h2>Current list of queries:</h2>
  <ul>
    <% @survey.questions().each() do |question| %>
      <li><%= question.query() %></li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no queries for this survey yet!
  </p>
<% end %>

<p>Add Query:</p>

<form action="/surveys/<%= @survey.id() %>" method="post">
  <div class="form-group">
    <label for="query">Query</label>
    <input type="text" name="query" id="query" class="form-control">
  </div>
  <button type="submit" class="btn">Create</button>
</form>
