

<% if @surveys.any?()  %>
<ul>
  <h1>Here are your surveys</h1>
  <% @surveys.each() do |survey| %>
    <li><a href= "/surveys_for_taker/<%= survey.id() %>"><%= survey.name() %></a></li>
  <% end %>
</ul>

<% else %>

<h2>Oops, there aren't any surveys yet!  Sorry :(</h2>

<% end %>
